body {
  background-color: #000000;
  font-family: 'Coming Soon', cursive;
}

.main {
  background: url('../images/background.gif') no-repeat center bottom;
  background-size: 100%;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  float: left;
  width: 659px;
  height: 494px;
  overflow: hidden;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 160px;
  left: 618px;
}

.introduction, .logo {
  height: 550px;
  width: 550px;
}

.introduction {
  position: absolute;
  top: 120px;
  left: 750px;
}

.logo, h1 {
  display: none;
}

.logo {
  background-image: url('../images/street_fighter_logo.png');
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 2px 2px #E20202;
  text-align: center;
}

h1, a {
  color: #ffffff;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #EF0000;
}